body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}
div{
    width: 100%; 
    height: 100%;
}
.color {
    width: 100%; 
    height: 100%;
    color: white; 
    text-align: center; 
    display: none; 
    box-sizing: border-box; 
}
.violet { 
    background-color: rgb(171, 115, 220);
}
.indigo {
     background-color: indigo;
     }
.blue {
     background-color: rgb(34, 112, 215); 
    }
.green {
     background-color: rgb(7, 137, 7);
     }
.yellow { 
     background-color: yellow; 
     color: black;
     } 
.orange { 
     background-color: orange; 
     }
.red {
     background-color: red;
     }

@media only screen and (min-width: 1250px) and (max-width: 1350px) {
    .violet {
        display: block; 
        height: 100%;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1250px) {
    .indigo {
        display: block; 
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1150px) {
    .blue {
        display: block; 
    }
}
@media only screen and (min-width: 900px) and (max-width: 1050px) {
    .green {
        display: block; 
    }
}

@media only screen and (min-width: 750px) and (max-width: 900px) {
    .yellow {
        display: block; 
    }
}
@media only screen and (min-width: 600px) and (max-width: 750px) {
    .orange {
        display: block; 
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
    .red {
        display: block; 
    }
}